DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here

DB_ENGINE=django.db.backends.postgresql
DB_NAME=gobindas_ecommerce_latest
DB_USER=gobindas_ecommerce_latest_user
DB_PASSWORD=your-database-password-here
DB_HOST=127.0.0.1
DB_PORT=5432

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

SOCIAL_AUTH_GOOGLE_CLIENT_ID=your-google-client-id-here
SOCIAL_AUTH_GOOGLE_SECRET=your-google-client-secret-here