# Virtual Environment
.venv/
venv/
env/

# Environment variables (NEVER commit secrets to GitHub)
.env
.env.local

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Django Static & Media uploads
media/
staticfiles/

# Database files & SQL dumps
db.sqlite3
db.sqlite3-journal
*.dump
*.sql
*.json
*.txt

# IDEs & Editors
.idea/
.vscode/
.continue/
*.swp
*.swo

# Testing & Coverage
.coverage
.pytest_cache/
.mypy_cache/